{% extends "base/body.html" %}
{% load bootstrap4 %}
{% block title %}
Вход
{% endblock %}
{% block content%}
<div class="container content">
    <h2 class="text-center mb-4">Авторизация</h2>
    {% if user.is_authenticated %}
        <p> Вы уже выполнили вход. </p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <input type="hidden" name="next" value="{{next}}">
            <div class="text-center">
                <button type="submit" class="btn btn-success">Войти</button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}