{% extends "base/body.html" %}
{%  load bootstrap4 %}
{% block title %}
Личный кабинет
{% endblock %}
{% block content %}
    <div class="container content">
      <h2 class="mb-4">Личный кабинет</h2>
    {% bootstrap_messages %}
    <div class=""  data-aos-offset="10">
      <div class="row">
            <div class="col-lg-6 col-md-12 border-right bg-light">
          <div class="card-body">
            <h3>Личные данные</h3> 
            <div class="row mt-4">
              <div class="col-sm-4"><strong class="text-uppercase">Фамилия</strong></div>
              <div class="col-sm-8">{{ user.last_name }}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Имя</strong></div>
              <div class="col-sm-8">{{ user.first_name }}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Электронный адрес:</strong></div>
              <div class="col-sm-8"> {{ user.email }}</div>
            </div>

          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <h3 class="pl-3">Действия</h3>
              {% if not user.public_key %}
            <p><a class="nav-link" href="{% url 'create_keys' %}"><i class="fa fa-key menu-icon-padding" aria-hidden="true"></i>Создать ключ</a></p>
              {% endif %}
            <p><a class="nav-link" href="{% url 'profile_change' %}"><i class="fa fa-address-card menu-icon-padding" aria-hidden="true"></i>Изменить данные</a></p>
            <p><a class="nav-link" href="{% url 'upload_document' %}"><i class="fa fa-download menu-icon-padding" aria-hidden="true"></i>Загрузить документ</a></p>
            <p><a class="nav-link" href="{% url 'view_documents' %}"><i class="fa fa-folder menu-icon-padding" aria-hidden="true"></i>Мои документы </a></p>
            <p><a class="nav-link" href="{% url 'send_on_signature' %}"><i class="fa fa-send menu-icon-padding" aria-hidden="true"></i>Отправить на подпись</a></p>
            <p><a class="nav-link" href="{% url 'check_on_signature' %}"><i class="fa fa-check menu-icon-padding" aria-hidden="true"></i>Проверить документ</a></p>
           </div>
        </div>

      </div>
    </div>
    </div>
{% endblock %}